# Stacks testnet
REACT_APP_STACKS_NETWORK=testnet
REACT_APP_STACKS_API_URL=https://api.testnet.hiro.so
REACT_APP_STACKS_CHAIN_ID=2147483648
REACT_APP_PONG_CONTRACT_ADDRESS=ST...
REACT_APP_PONG_CONTRACT_NAME=pong-escrow
REACT_APP_EXPLORER=https://explorer.hiro.so
REACT_APP_BACKEND_URL=http://localhost:3001

# Stacks mainnet
# REACT_APP_STACKS_NETWORK=mainnet
# REACT_APP_STACKS_API_URL=https://api.mainnet.hiro.so
# REACT_APP_STACKS_CHAIN_ID=1
# REACT_APP_PONG_CONTRACT_ADDRESS=SP...
# REACT_APP_PONG_CONTRACT_NAME=pong-escrow
# REACT_APP_EXPLORER=https://explorer.hiro.so
